<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{~/css/usuario.css}"> 
<title>Forum</title>
</head>
<body>

<h1>Forum</h1>

<h2>Cadastre um novo usuário</h2>
		
		<form action="">
				
				<label for="nome">Nome</label>
				<input name="nome" id="nome">
				
				<label for="email">E-mail</label>
				<input name="email" id="email">
				
				<label for="password">Senha</label>
				<input name="password" id="password" type="password">
				
				
				<button>Cadastrar</button>
		</form>
</body>
</html>